# Fichiers et dossiers générés par .NET
/bin/
/obj/
*.user
*.suo
/.vs/

# Fichiers et dossiers générés par Angular
node_modules/
dist/
.angular/
.env

# Fichiers système
.DS_Store
Thumbs.db
/MvcHybridAngular/bin/Debug/net8.0
/MvcHybridAngular/obj
/MvcHybridAngular/Applications/LangSelector/.vscode
